<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>

<header >
    <nav class="navbar navbar-dark bg-dark">
  <!-- Navbar content -->

    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">


        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/test" class="nav-link px-2 text-muted"><h4>add files</h4> </a></li>
          <li><a href="/" class="nav-link px-2 text-white"><h4>search</h4> </a></li>
        </ul>

      </div>
    </div>
        </nav>
  </header>

    {% block content %}{% endblock %}

</body>
</html>