{% extends 'main/base.html' %}
{% block title %}
find all
{% endblock %}

{% block content %}


<div class="container text">
  <div class="row">
    <div class="col">
      <form method="GET" >
    <div class="input-field"><br>

        <input style="width: 70%;"  type="text" name="q" value="{{ request.GET.q }}" placeholder="Search Here...">
       <button class="btn" type="submit" name="action">Search</button>
    </div>

</form>
    </div>
    <div class="col"><br>
     {% for item in posts %}

        <div class="card">
  <div class="card-body">
    <h5 class="card-title">Назва документа: {{ item.name }}</h5>
    <p class="card-text">Опис документа: {{ item.about_file }}</p>
    <a href="#" class="btn btn-outline-secondary">Go somewhere</a>
  </div>
</div>
    <h1>  </h1>
    <h4> </h4>

{% endfor %}
    </div>
  </div>


{% if posts.has_other_pages %}
    <ul class="pagination">
        {% if posts.has_previous %}
            <li class="waves-effect"><a href="?page=
                    {{ posts.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"><i
                    class="material-icons">chevron_left</i></a></li>
        {% else %}
            <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
        {% endif %}
        {% for num in posts.paginator.page_range %}
            {% if posts.number == num %}
                <li class="active"><a href="#!">{{ num }}</a></li>
            {% else %}
                <li class="waves-effect"><a
                        href="?page={{ num }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ num }}</a></li>
            {% endif %}
        {% endfor %}

        {% if posts.has_next %}
            <li class="waves-effect"><a
                    href="?page={{ posts.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"><i
                    class="material-icons">chevron_right</i></a></li>
        {% else %}
            <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
        {% endif %}
    </ul>
{% endif %}


{% endblock %}