<!DOCTYPE html>
<html>
  <head>
    <title>File Upload Example</title>
  </head>
  <body>
    <form>
      <label for="formFile">Select a .txt or .pdf file to upload:</label>
      <input type="file" id="formFile" name="file">
      <button type="submit" id="submitButton" disabled>Upload</button>
    </form>

    <script>
      const formFile = document.querySelector('input[type="file"]');
      const submitButton = document.querySelector('button[type="submit"]');
      formFile.addEventListener('change', (event) => {
        const file = event.target.files[0];

        const allowedExtensions = ['txt', 'pdf', 'docx', 'csv', 'xlsx', 'xls', 'XLS'];
        const fileExtension = file ? file.name.split('.').pop().toLowerCase() : '';
        if (!file || !allowedExtensions.includes(fileExtension)) {
          submitButton.disabled = true;
          event.target.value = '';
        } else {
          submitButton.disabled = false;
        }
      });

      const form = document.querySelector('form');
      form.addEventListener('submit', (event) => {
        if (!formFile.value) {
          event.preventDefault();
          submitButton.disabled = true;
        }
      });
    </script>
  </body>
</html>
