<!DOCTYPE html>
<html>
<head>
    <title>Button Demo</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#test-input').on('input', function() {
                var testInput = $('#test-input').val();

                $.ajax({
                    url: '/test/',
                    type: 'POST',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    data: {
                        'testInput': testInput
                    },
                    success: function(data) {
                        if (data.error) {
                            $('#result').text(data.error);  // Display error message
                        } else {
                            $('#result').text(data.message + ' ' + data.shiftedInput);  // Display shifted input
                            $('#my-button').prop('disabled', false);
                        }
                    }
                });
            });
        });
    </script>
</head>
<body>
    <h1>Button Demo</h1>
    <input type="text" id="test-input">
    <button id="my-button" disabled>Click me!</button>
    <p id="result"></p>
    <div style="display: none">{% csrf_token %}</div>
</body>
</html>
